@import "colors";
@import "style";

.container {
  .header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.2rem 1rem 1.2rem;
    background-color: $corp-blue;
    box-sizing: border-box;
    .title {
      display: flex;
      align-items: center;
      img {
        max-height: 20px;
      }
      .title-desc {
        font-size: 1.3rem;
        font-weight: 300;
      }
    }
    .login {
      display: flex;
      align-items: center;
      span {
        margin: 0 0.7rem 0 0.7rem;
        display: flex;
        align-items: center;
        .span {
          padding-top: 0.35rem;
        }
      }
      .header-button-logout {
        @include button-outline(white, 40, 0.9);
        padding: 0.5rem 0rem 0.5rem 0rem;
        span:nth-child(2) {
          background-color: orange;
          color: white;
          border-radius: 3px;
          padding: 0.3rem 0.7rem 0.3rem 0.7rem;
        }
      }
      .header-button {
        @include button-outline(white, 40, 0.9);
      }
    }
  }
}
