@import "colors";
@import "style";

.container {
  .header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.2rem 1rem 1.2rem;
    background-color: $corp-blue;
    box-sizing: border-box;
    .title {
      display: flex;
      align-items: center;
      .logo {
        max-height: 20px;
      }
      .title-desc {
        font-size: 1.3rem;
        font-weight: 300;
      }
    }
    .actions-box {
      display: flex;
      align-items: center;
      .logout-box {
        .name {
          margin-right: 0.7rem;
        }
        @include button-outline(white, 40, 0.9);
        box-sizing: border-box;
        cursor: unset;
        .logout-button {
          cursor: pointer;
          background-color: orange;
          border: 0;
          color: white;
          font-weight: 700;
          border-radius: 3px;
          padding: 0.3rem 0.7rem 0.3rem 0.7rem;
        }
      }
      .update-button {
        @include button-outline(white, 40, 0.9);
      }
    }
  }
}
