// Corporate
$corp-blue: #0091eb;
$corp-green: #51e05d;

// Standard
$text-color: #181818;
$orange: #ff9900;

// Grey
$grey-10: #f0f0f0;
$grey-30: darken($grey-10, 10%);
$grey-50: darken($grey-10, 60%);
