@import "colors";

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .inner-content {
    margin: 0 0.5rem 0 0.5rem;
    border: 1px solid $grey-10;
    border-radius: 4px;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    box-sizing: border-box;
    color: $grey-50;
    font-size: 0.8rem;
  }
  .p-icon {
    background-color: orange;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    margin: 0 0.2rem 0 0.2rem;
    cursor: pointer;
    &:hover {
      background-color: darken(orange, 20%);
      transition: 0.4s;
    }
  }
}
